In [29]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier

In [30]:
df = pd.read_csv('https://raw.githubusercontent.com/mahlswede/Exercises/master/people.csv')
df

    REC      Age  Income Student Credit_rating Buys_computer
0    r1     <=30    High      No          Fair            No
1    r2     <=30    High      No     Excellent            No
2    r3  31...40    High      No          Fair           Yes
3    r4      >40  Medium      No          Fair           Yes
4    r5      >40     Low     Yes          Fair           Yes
5    r6      >40     Low     Yes     Excellent            No
6    r7  31...40     Low     Yes     Excellent           Yes
7    r8     <=30  Medium      No          Fair            No
8    r9     <=30     Low     Yes          Fair           Yes
9   r10      >40  Medium     Yes          Fair           Yes
10  r11     <=30  Medium     Yes     Excellent           Yes
11  r12  31...40  Medium      No     Excellent           Yes
12  r13  31...40    High     Yes          Fair           Yes
13  r14      >40  Medium      No     Excellent            No
14  r15     <=30  Medium      No     Excellent            No
15  r16     <=30     Low      No          Fair            No
16  r17     <=30     Low      No     Excellent            No
17  r18  31...40     Low     Yes          Fair           Yes
18  r19      >40  Medium     Yes     Excellent           Yes
19  r10  31...40    High      No     Excellent           Yes

In [31]:
df.columns

Index(['REC', 'Age', 'Income', 'Student', 'Credit_rating', 'Buys_computer'], dtype='object')

In [32]:
# replace the strings
# we'll replace <30 with 28, 31..40 with 36, >40 with 42, 
df['Age'].replace('<=30', 28, inplace=True)
df['Age'].replace('31...40', 36, inplace=True)
df['Age'].replace('>40', 42, inplace=True)

In [33]:
# replace the strings
df['Student'].replace('Yes', 1, inplace=True)
df['Student'].replace('No', 0, inplace=True)

In [34]:
df['Income'].replace('High', 5000, inplace=True)
df['Income'].replace('Medium', 3000, inplace=True)
df['Income'].replace('Low', 2000, inplace=True)

In [35]:
df['Credit_rating'].replace('Excellent', 2, inplace=True)
df['Credit_rating'].replace('Fair', 1, inplace=True)

In [36]:
# replace the strings
# these strings must not replaced, otherwise error graphviz/classnames "must be string not int64" 
#df['Buys_computer'].replace('Yes', 1, inplace=True)
#df['Buys_computer'].replace('No', 0, inplace=True)

In [37]:
# let's see the dateframe now
df

    REC  Age  Income  Student  Credit_rating Buys_computer
0    r1   28    5000        0              1            No
1    r2   28    5000        0              2            No
2    r3   36    5000        0              1           Yes
3    r4   42    3000        0              1           Yes
4    r5   42    2000        1              1           Yes
5    r6   42    2000        1              2            No
6    r7   36    2000        1              2           Yes
7    r8   28    3000        0              1            No
8    r9   28    2000        1              1           Yes
9   r10   42    3000        1              1           Yes
10  r11   28    3000        1              2           Yes
11  r12   36    3000        0              2           Yes
12  r13   36    5000        1              1           Yes
13  r14   42    3000        0              2            No
14  r15   28    3000        0              2            No
15  r16   28    2000        0              1            No
16  r17   28    2000        0              2            No
17  r18   36    2000        1              1           Yes
18  r19   42    3000        1              2           Yes
19  r10   36    5000        0              2           Yes

In [38]:
df.to_csv('people3.csv')

//